<!-- <p>This site is being created. Please wait...</p> -->

<h1>Music App</h1>

<div>
	<img src="">
	<%= button_to('Piano', root_path, :method => :get) %>
</div>
<div>
	<img src="">
	<%= button_to('Violin', root_path, :method => :get) %>
</div>
<div>
	<img src="">
	<%= button_to('Guitar', root_path, :method => :get) %>
</div>
<div>
	<img src="">
	<%= button_to('Sax', root_path, :method => :get) %>
</div>
<div>
	<img src="">
	<%= button_to('Bass', root_path, :method => :get) %>
</div>
<div>
	<img src="">
	<%= button_to('Drums', root_path, :method => :get) %>
</div>
<div>
<%= button_to root_path, :method => :get do %>
	<img src="http://upload.wikimedia.org/wikipedia/commons/1/16/Ruby_on_Rails-logo.png">
<% end %>
</div>
<div>
	<img src="">
	<%= button_to('Voice', root_path, :method => :get) %>
</div>